
<ion-grid *ngIf="!loading" class="home-bg">
  <ion-row>
    <img class="home-logo" src="assets/imgs/olla_1.svg">
  </ion-row>
  <ion-row>
    <img class="home-logo" src="assets/imgs/olla_2.svg">
  </ion-row>
  <ion-row>
    <img class="home-logo" src="assets/imgs/olla_3.svg">
  </ion-row>
  <ion-row>
    <ion-row>
      <ion-row class="home-search-text">{{ 'Escriu els ingredients separats per comes i...a cuinar!' | translate }}</ion-row>
    </ion-row>
    <ion-row class="home-search-bar">
      <ion-input [(ngModel)]="input"></ion-input>
      <img class="home-search-button" src="assets/imgs/search_button.svg" (click)="search()">
    </ion-row>
  </ion-row>
</ion-grid>

<ion-backdrop *ngIf="loading">
  <span class="home-loading-text">{{ 'La paciència és clau...' | translate }}</span>
</ion-backdrop>
