<ion-content transparent no-bounce *ngIf="!loading" class="home-bg">
  <ion-grid>
    <div class="home-container">
      <ion-row>
        <ion-col text-center col-12>
          <img class="home-logo" src="assets/imgs/olla_1.svg">
        </ion-col>
        <ion-col text-center col-12>
          <img class="home-logo" src="assets/imgs/olla_2.svg">
        </ion-col>
        <ion-col text-center col-12>
          <img class="home-logo" src="assets/imgs/olla_3.svg">
        </ion-col>
        <ion-col col-12>
          <div class="home-app-name">QUKT</div>
        </ion-col>
        <ion-col text-center col-12>
          <ion-row class="home-search-text">{{ 'Escriu els ingredients separats per comes i...a cuinar!' | translate }}</ion-row>
          <ion-row class="home-search-bar">
            <ion-input [(ngModel)]="input"></ion-input>
            <img class="home-search-button" src="assets/imgs/search_button.svg" (click)="search()">
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-backdrop *ngIf="loading">
    <span class="home-loading-text">{{ 'La paciència és clau...' | translate }}</span>
  </ion-backdrop>
</ion-content>

